<div ng-controller="studentCtrl">
  <form>
    NAME: <input type = "text" ng-model="student.name" required><br>
    CLASS:<input type ="number/text" ng-model="student.class" required></br>
    SEX  :<input type ="radio" ng-model="student.sex" value = "male">MALE
          <input type ="radio" ng-model="student.sex" value = "female">FEMALE<br>
    MOBILE:<input type="number" ng-model="student.mobile" required><br>
    EMAIL :<input type="email" ng-model="student.email"  required><br><hr>
        <input type= "button" class="btn" ng-click="add()" value=ADD>
				<a href = "#/home">View</a>
 </form>
</div>
