<div class="container" ng-controller="addctrl">
  <h2>Student form</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group row">
      <label for="name" class="col-sm-2 form-control-label">NAME</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputEmail3" ng-model="student.name" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="class" class="col-sm-2 form-control-label">CLASS</label>
      <div class="col-sm-4">
        <input type="text/number" class="form-control" id="inputPassword3" ng-model="student.class" placeholder="Class">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">SEX</label>
      <div class="col-sm-2">
        <div class="radio">
          <label class="active">
            <input type="radio" name="gridRadios" id="gridRadios1" ng-model="student.sex" value="MALE" checked="checked">Male
          </label>
          <label>
            <input type="radio" name="gridRadios" id="gridRadios2" ng-model="student.sex" value="FEMALE">Female
          </label>
      </div>
    </div>
    </div>
    <div class="form-group row">
      <label for="mobile" class="col-sm-2 form-control-label">MOBILE</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="inputEmail3" ng-model="student.mobile" placeholder="mobile">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 form-control-label">E-MAIL</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputEmail3" ng-model="student.email" placeholder="email">
      </div>
    </div>
        <input type= "button" class="btn btn-primary btn-md  " ng-click="add()" value=ADD><br><br>
				<a href = "#/view">View</a><br><br>
 </form>
</div>


<div ng-controller="UploadController " class = "container">
  <form class="form-horizontal" role= "form">
<div class="from-group row">
  <div class="col-sm-4">
      <input type="file" ng-file-select="onFileSelect($files)" >
<!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->

     <b>Preview:</b><br />
 <i ng-hide="imageSrc">No image choosed</i>
 <img ng-src="{{imageSrc}}" /><br/>
 <b>Progress:</b>
<progress value="{{progress}}"></progress><br>
<input type ="button" class="btn btn-primary btn-md" ng-click="upload()" value="UPLOAD"><br><br>
</div>
</div>
</form>
</div>
